/* MEOWSPACE CSS

COLORS:
  #878e88 - gray
  #f55d3e - orange
  #f7cb15 - yellow
  #76bed0 - blue
*/

/* REQ: CUSTOM GOOGLE FONT USED */
/* custom Goole font: Muli */
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  padding-left: 12%;
  padding-right: 12%;
  background-color: #878e88;
  font-family: 'Muli', sans-serif;
}

/* REQ: FIXED HEADER */
header {
  background-color: #f55d3e;
  position: fixed;
  height: 5rem;
  top: 0;
  left: 12%;
  right: 12%;
}

/* all content in-between header + footer */
main {
  margin-top: 5rem;
  background-color: #ffffff;
}

/* all links unlined */
a {
  text-decoration: none;
  padding-left: 1.5rem; /* for hovered img */
}

/* REQ: PSEUDO SELECTOR USED */
/* pawprint appears when hovering */
a:hover {
  font-weight: 800;
  background-image: url("../assets/paw-print-icon.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1rem;
}

a:visited {
  color: black;
}

/* header: site name link */
a[href="index.html"] {
  padding: 15px;
  font-family: sans-serif;
}

/* REQ: INLINE BLOCK EXAMPLE */
/* 2-column format in header and join-section */
.column-one {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding-left: 7%;
  padding-right: 3%;
}
.column-two {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

header nav {
  text-align: right;
  padding-right: 5%;
}

header nav li {
  display: inline;
  padding: 1%;
}

#cover-section {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 310px;
}

/* all content in-between header + footer */
.overlay {
  text-align: center;
  color: white;
  font-size: 4rem;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#popular-section {
  text-align: center;
}

/* popular posts title */
#popular-title {
  text-align: center;
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  margin: 0;
}

/* REQ: CUSTOM STYLE EXAMPLE */
/* popular posts article previews */
.article-preview {
  display: inline-block;
  width: 23%;
  height: 16rem;
  vertical-align: top;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;

  border-width: 0.2rem;
  border-style: dashed;
  border-color: #76bed0;
  border-radius: 1.25rem;
}

.title-box {
  overflow: hidden;
}

.article-title {
  margin: 0;
  top: 0;
  height: 3rem;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  background-color: #76bed0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.text-overflow {
display: block;
margin-left: 0.5rem;
max-width: 400px;
height: 9rem;
font-size: 1rem;
line-height: 1rem;
margin-top: 0.5rem;
margin-left: 1rem;
margin-right: 1rem;
overflow: scroll;
text-overflow: ellipsis; /* could not get ellipsis to work... #sadday */
text-align: left;
}

.button {
  padding: 0.75rem;
  background-color: #f7cb15;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1rem;
  color: black;
}

/* REQ: BACKGROUND COLOR USED */
/* join section w/ inline photo */
#join-section {
  background-color: #f7cb15;
  padding: 5%;
}

/* banner--"everybody wants to be a cat" */
#everybody-banner {
  background-image: url("../assets/everybody.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 275px;
  margin: 0;
  overflow: hidden;
}

/* image of join_sectin formatted */
img[src="assets/join_club.jpg"] {
  width: 70%;
  margin-left: 21%;
  border-radius: 1rem;
}

footer {
  background-color: #76bed0;
  height: auto;
  width: 100%;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* footer: copyright + disclaimer */
h4, #disclaimer {
  display: inline;
  text-indent: 0;
  vertical-align: top;
}

/* REQ: FLOAT USED */
#footer-left {
  float: left;
  clear: right;
  display: block;
  font-size: 0.5rem;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  vertical-align: middle;
}

#footer-right {
  float: right;
  clear: left;
  display: block;
  width: 100%;
  padding-left: 60%
}

#footer-list {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
