/*

1. update links post tiles
2. figure out how to get ellipsis in post blurbs
3. format 'join' text
4. resize photo for 'join'
5. format footer text--in new div container
6. review guidelines in the prompt
7. refactor code

 */

/* header must be fixed*/
html {
  padding-left: 12%;
  padding-right: 12%;
}

header {
  background-color: gray;
  position: fixed;
  top: 0;
  left: 12%;
  right: 12%;
}

a[href="index.html"] {
  padding: 15px;
  font-family: sans-serif;
  /* PLACEHOLDER */
  border-width: 2px;
  border-style: dotted;
  border-color: white;
}

.column-one {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  /* PLACEHOLDER */
  border-width: 2px;
  border-style: dotted;
  border-color: yellow;
}

/* navigation link is inline and to the right */
.column-two {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  /* PLACEHOLDER */
  border-width: 2px;
  border-style: dotted;
  border-color: yellow;
}

.col2 {
}

a {
  text-decoration: none;
}

header nav {
  text-align: right;
  padding-right: 5%;
  /* PLACEHOLDER */
}

header nav li {
  display: inline;
  padding: 1%;
  /* PLACEHOLDER */
}

/* all content in-between header + footer */
main {
  margin-top: 7%;

  border-width: 4px;
  border-style: solid;
  border-color: yellow;
    /* PLACEHOLDER */
}

#cover-section {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 310px;
  /* PLACEHOLDER */
  border-width: 3px;
  border-style: dashed;
  border-color: limegreen;
}

#popular-section {
  text-align: center;
  align-items: center;
  /* PLACEHOLDER */
}

/* popular posts title */
#popular-title {
  text-align: center;
  vertical-align: middle;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  margin: 0;
}

.overlay {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  padding-top: 50px;
}

/* popular posts article previews */
.article-preview {
  display: inline-block;
  width: 23%;
  height: 18rem;
  vertical-align: top;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;

  border-width: 2px;
  border-style: dashed;
  border-color: orange;
    /* PLACEHOLDER */
}

.article-title {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  top: 0;
  height: 3rem;
  width: 100%;
  text-align: center;

  border-width: 2px;
  border-style: dashed;
  border-color: blue;
}

.a-sample-here {
  position: relative;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 10rem;
  float: left;
  border-width: 0.2rem;
  border-style: dotted;
  border-color: black;
}

.text-overflow {
display: block;
margin-left: 0.5rem;
max-width: 400px;
height: 10rem;
font-size: 1rem;
line-height: 1rem;
margin-top: 0.5rem;
margin-left: 1rem;
margin-right: 1rem;
overflow: hidden;
text-overflow: ellipsis;
text-align: left;


border-width: 0.2rem;
border-style: dotted;
border-color: black;
}

.textend {
  position: relative;
  float: right;
  border-width: 1px;
  border-style: dotted;
  border-color: red;

}

.button {
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;

  border-width: 0.2rem;
  border-style: solid;
  border-color: black;
  border-radius: 0.5rem;
}

/* join the blob section w/ inline photo */
#join-section {
  padding: 3%;
  border-width: 3px;
  border-style: solid;
  border-color: black;
    /* PLACEHOLDER */
}

/* image as background with text overlay */
#closing-section {
  background-image: url("../assets/everybody.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 275px;

  border-width: 3px;
  border-style: dashed;
  border-color: purple;
    /* PLACEHOLDER */
}

img[src="assets/join_club.jpg"] {
  width: 100%;
}

/* footer at very bottom */
footer {
  background-color: gray;
  border-width: 0.2rem;
  border-style: solid;
  border-color: black;
}

#footer-left {
  display: inline-block;
  width: 48%;
  vertical-align: middle;
  font-size: 0.5rem;


  border-width: 1px;
  border-style: solid;
  border-color: blue;
}

#footer-right {
  display: inline-block;
  width: 48%;
  vertical-align: middle;

  border-width: 1px;
  border-style: solid;
  border-color: blue;
}
